/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

@media print {
  html,
  body {
    height: auto;
  }
  #__next {
    height: 100%;
  }
}

body {
  font-family: "Fredoka", sans-serif;
}

.fun-font {
  font-family: "Shizuru", cursive;
}
